@page "/user-not-authorized"
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card border-danger mb-5" style="max-width: 28rem;">
        <div class="card-header bg-danger text-white"><i class="bi bi-exclamation-triangle"></i> Oops!</div>
        <div class="card-body">
            <p class="card-text">Oops, parece que você não tem as permissões necessárias. Confira suas configurações ou entre em contato com os desenvolvedores para mais informações.</p>
        </div>
    </div>
</div>